/*Initilization*/
body {
     background-color: black;
     background-image: url("Assets/Background.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     margin: 0px;
     padding: 0px;
}

header {
     width: 100%;
     background-color: black;
}

a {
     text-decoration: none;
}

/*
#line{
     width: 975px;
     height: 1px;
     background-color: white;
     border-radius: 1px;
     display: block;
     margin-right: auto;
     margin-left: auto;
}
*/

header img {
     display: block;
     margin-right: auto;
     margin-left: auto;
     padding-bottom: 50px;
}

#main {
     margin-top: 250px;
     width: 100%;
}

#image_container {
     width: 1088px;
     height: 130px;
     display: block;
     margin-right: auto;
     margin-left: auto;
     padding-left: 10px;
}

#facebook {
     margin-left: 20px;
}

#main img {
     width: 100px;
     height: 100px;
     border-radius: 30px;
     margin-right: 20px;
     margin-top: 10px;
     border: 5px solid black;
}
#main img:hover {
     border: 5px solid white;
}

@media (orientation: portrait) {
     header img {
          width: 100%;
     }

     #line {
          width: 100%;
     }

     #image_container {
          width: 100%;
     }

     #main img {
          display: block;
          margin-right: auto;
          margin-left: auto
     }
}
