* {
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  background-image: url("background-1-montreal-edit.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}

/*Navbar styling*/

#navbar {
  background-color: #E6AF2E;
  color: white;
}

.nav-link{
  color: white;
  font-size: 22px;
  font-weight: bold;
  margin-right: 50px;
  letter-spacing: 2px;
}

#navbar ul li a:active{
  color: #696969;
}

.nav-link:hover{
  color: #696969;
}

#navbar ul li:last-child a {
  margin-right: 0px;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.space {
  width: 100%;
  height: 200px;
}

/*About styling*/

#About, #WorkExperience, #Contact{
  background-color: rgba(45,44,43,0.9);
  padding-top: 10px;
  background-image: url("7f2c27f0a0900c33a6263cc82b2af0a4.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#About a{
  color: #39A1FF;
  font-size: 20px;
}

h2{
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #E6AF2E;
  margin-bottom: 40px;
}

h4{
  font-size: 30px;
  text-decoration: underline;
}

h5{
  font-size: 20px;
  font-weight: bold;
}


#headshot{
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 150px;
  border: 10px solid white;
  z-index: -2;
}

#about-text{
  margin-top: 50px;
  font-size: 22px;
}

/*Education styling*/

#Education, #Projects{
  background-color: rgba(45,44,43,0.9);
  padding-top: 20px;
  background-image: url("7f2c27f0a0900c33a6263cc82b2af0a4.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.list-text{
  font-size: 22px;
  margin-top: 20px;
}

.school-list li{
  list-style: none;
}

.list-text li::before {
  content: "• ";
  color: #39A1FF;
}

#johnabbottlogo, #vanierlogo{
  margin-top: 50px;
  margin-left: 50px;
  width:300px;
  height:150px;
  border: 5px solid black;
}

#vanierlogo {
  margin-bottom: 20px;
}

#johnabbottlogo:hover, #vanierlogo:hover {
  border: 5px solid #39A1FF;
}

#bjImage, #widImage {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: solid 5px #E6AF2E;
}

#babel-logo{
  margin-top: 40px;
  border: 5px solid black;
  margin-bottom: 40px;
}

#babel-logo:hover{
  border: 5px solid #39A1FF;
}

.goToProject {
  color: white;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.goToProject:hover {
  color: #39A1FF;
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

#footer{
  margin-top: 50px;
  font-size: 22px;
  padding-bottom: 20px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#copyright {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 1521px) and (min-width: 700px) {
  #johnabbottlogo, #vanierlogo{
    margin-left: 0px;
  }
  .container-fluid {
    width: 90%;
  }
}

@media screen and (max-width: 935px) {
  /*#navbar ul li a {
    display: none;
  }*/
}

@media screen and (max-width: 1199px) {
  h2 {
    display: block;
    width: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 699px) and (min-width: 0px) {
  #headshot{
    width: 150px;
    height: 150px;
  }
  #johnabbottlogo, #vanierlogo{
    width:150px;
    height:75px;
    margin-top: 0px;
    margin-left: 0px;
    border: 5px solid black;
  }

  #johnabbottlogo:hover, #vanierlogo:hover {
    border: 5px solid #39A1FF;
  }

  #bjImage, #widImage {
    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 5px solid #39A1FF;
  }

  #babel-logo{
    width: 50%;
    height: 50%;
    margin-top: 40px;
    border: 5px solid black;
    margin-bottom: 40px;
  }

  .container-fluid {
    width: 90%;
  }
  h2{
    font-size: 30px;
  }
  #education-text, #about-text{
    font-size: 18px;
  }
  .list-text{
    font-size: 18px;
  }
  #footer{
    font-size: 18px;
  }
}
